{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}
{% block meta %}
    {{ super() }}
    <meta name="description" content="">
    <meta name="author" content="pengchenghu">
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-png">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid navbar-fixed-top" style="padding: 0px">
        {% block header %}{% endblock %}
    </div>

    <div class="container-fluid" style="padding: 0px">
        {% block page_content %}{% endblock %}
    </div>

    <div>
        {% block pop_window %}{% endblock %}
    </div>

    <div class="container-fluid" style="padding: 0px">
        {% block footer %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script  type="text/javascript" src="{{ url_for('static', filename='js/public.js') }}"></script>
{% endblock %}
